{% extends "base.html" %}

{% block title %}
  <title>Tasks page</title>
{% endblock %}

{% block content %}
  <h1 class="d-flex justify-content-between align-items-center">
    Tasks list:
    <a class="btn btn-primary" href="#">Add task</a>
</h1>
  {% if tasks %}
  	{% for task in tasks %}
  		<h3>
        <a href="#">{{ task.content }}</a>
        {% if task.is_complete %}
        	<a type="submit" class="btn btn-secondary">Undo</a>
          {% else %}
            <a type="submit" class="btn btn-success">Complete</a>
        {% endif %}
      </h3>
      <p>Created at: {{ task.created_at }}</p>
      <p>Deadline time: {{ task.deadline }}</p>
      <p>Done? - {{ task.is_complete }}</p>
      <p>Tags: {{ task.tags }}</p>
      <br>
  	{% endfor %}

  {% endif %}

{% endblock %}
